<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>#{@subject}</title>
</head>
<body>
  <section>
    <div> Hey <%= @user.email %> </div>
  </section>

  <section>
    <%= yield %>
  </section>

  <section>
    <div>
      Best regards, <br>
      TMH team
     </div>
  </section>
</body>
</html>